img {
    width: 200px;
}
body { 
    text-align: center;
    font-family: "Comic Sans MS";
}
body {
    background-image: url("http://vignette1.wikia.nocookie.net/youtube/images/c/c8/Euphoric%2B_447d95e276a5b1dd56cac5e4a5d82b6c.jpg/revision/latest?cb=20150316195509");
    background-size: 1600px 900px;
}

